p {
  color: $almost-white;
}

.game-status {
  padding: 0 80px 0 80px;

  @media #{$md-down} {
    text-align: center;
    padding: 0;
  }
}

.top {
  background-color: $dark-grey;
  color: $red;
  font-size: $fs-6;
  height: 120px;
  line-height: 120px;
  padding-left: 80px;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px 0 80px;
}

.board * {
  box-sizing: content-box;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  margin: 20px 0 20px 0;
  width: 400px;

  &:first-of-type {
    margin-right: 40px;

    @media #{$md-down} {
      margin: auto;
    }
  }

  @media #{$md-down} {
    margin: auto;
  }

  @media #{$xs-only} {
    height: 200px;
    width: 200px;
  }

  &--opponent {
    cursor: pointer;
  }

  &--inactive {
    cursor: default;
  }
}

.tile {
  font-size: $fs-7;
  height: 100px;
  line-height: 88px;
  text-align: center;
  width: 100px;

  @media #{$xs-only} {
    height: 50px;
    font-size: $fs-4;
    line-height: 44px;
    width: 50px;
  }
}

.dot {
  background-color: $grey;
  border-radius: 50%;
  height: 7px;
  left: 50%;
  position: relative;
  top: 50%;
  width: 7px;

  &--almost-white {
    background-color: $almost-white;
  }

  &--red {
    background-color: $red;
  }

  &--almost-black {
    background-color: $almost-black;
  }

  &--animated {
    -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
    animation: pulsate-bck 0.5s ease-in-out infinite both;
    -webkit-animation-iteration-count: 3;
  }
}

.end-game-info {
  color: $red;
  font-size: $fs-7;
  text-align: center;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
